:root {
  --color-blueviolet: blueviolet;
  --color-blueviolet-dark: #66339991;
  --color-rebeccapurple: rebeccapurple;
  --color-white: white;
  --color-whitesmoke: whitesmoke;
  --color-red: #fa4067;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  background-color: var(--color-blueviolet);
  background-image: url("https://images.unsplash.com/photo-1628615392498-ebbab3eb54d1?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxOTk1MzF8MHwxfGFsbHw0fHx8fHx8Mnx8MTYyODY0NzMyNw&ixlib=rb-1.2.1&q=80&w=1080");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.loader {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 99;
  display: -ms-grid;
  display: grid;
  background-color: var(--color-white) !important;
  opacity: 0.8;
  place-content: center;
}

.loader i {
  font-size: 100pt;
  color: var(--color-rebeccapurple) !important;
}

nav {
  width: 4% !important;
  position: fixed;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--secondary-color);
  height: 100vh;
}

nav a {
  padding: 10px;
  font-size: 20pt;
  color: var(--color-white);
  cursor: pointer;
}

.container {
  position: absolute;
  right: 0;
  width: 96%;
  height: 100%;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Montserrat, sans-serif;
}

.container .search-image {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  z-index: 99;
}

.container .search-image input {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  padding: 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  font-weight: bold;
  color: var(--color-rebeccapurple) !important;
}

.container .search-image input:hover {
  opacity: 0.8;
}

.container .search-image .btn-search {
  -ms-flex-preferred-size: fit-content;
      flex-basis: fit-content;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: var(--color-blueviolet-dark);
}

.container .search-image .btn-search:hover {
  color: var(--color-rebeccapurple);
  cursor: pointer;
  opacity: 0.8;
}

.container section {
  position: static;
  right: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
  bottom: 16px;
  /* Styles applied on trigger */
}

.container section h1 {
  color: var(--color-white);
  font-size: 50px;
  text-transform: uppercase;
  opacity: 0;
}

.container section:target {
  opacity: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.container .content {
  padding: 16px;
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 0.1rem;
          column-gap: 0.1rem;
  padding-bottom: 3.1rem !important;
}

.container .content .card {
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  margin-bottom: 1rem;
  background-color: var(--color-blueviolet);
  padding: 0 5px;
  margin: 5px;
  border-radius: 5px;
}

.container .content .card:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--color-blueviolet)), to(var(--color-rebeccapurple)));
  background-image: linear-gradient(90deg, var(--color-blueviolet), var(--color-rebeccapurple));
}

.container .content .card .card-text {
  color: var(--color-whitesmoke);
  font-size: small;
  font-weight: lighter;
  padding: 6px 0;
}

.container .content .card .card-img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  border-radius: 5px;
}

.container .content .card .btn-primary {
  margin: 3px;
  padding: 6px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container .content .card .btn-primary i {
  color: var(--color-whitesmoke);
  font-size: 16pt;
}

.container .content .card .btn-save {
  float: right;
  background-color: transparent;
}

.container .content .card .btn-save i {
  color: var(--color-whitesmoke);
}

.container #home {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.container #pictures {
  width: 100%;
  top: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.container #pictures .picture-add {
  border-radius: 6px;
  padding: 16px;
  height: 100%;
  width: 100%;
  z-index: 99;
  background-color: var(--color-whitesmoke);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.container #pictures .picture-add .btn-close {
  -ms-flex-item-align: end;
      align-self: flex-end;
  float: right;
  place-self: end;
  cursor: pointer;
  outline: none;
  border: none;
}

.container #pictures .picture-add .btn-close i {
  font-size: 16pt;
  color: var(--color-blueviolet);
}

.container #pictures .picture-add .picture-form {
  border: 1px solid var(--color-blueviolet) !important;
  width: 100%;
  background-color: var(--color-whitesmoke);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
  border-radius: 3px;
}

.container #pictures .picture-add .picture-form label {
  font-weight: bold;
  font-size: small;
  margin-top: 6px;
}

.container #pictures .picture-add .picture-form input {
  padding: 6px;
  border-radius: 3px;
  outline: none;
  border: none;
}

.container #pictures .picture-add .picture-form input[type="button"] {
  margin-top: 10px;
  cursor: pointer;
  background-color: var(--color-rebeccapurple);
  color: var(--color-whitesmoke);
  padding: 6px 12px;
}

.container #pictures .picture-add .picture-form .titleError,
.container #pictures .picture-add .picture-form .urlError {
  color: var(--color-red);
}

.container #pictures .picture-add .picture-form .picture-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container #about {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.container #contact {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@-webkit-keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@media (min-width: 1281px) and (max-width: 2560px) {
  .content {
    /* It is split into 3 columns */
    -webkit-column-count: 5 !important;
            column-count: 5 !important;
  }
  .picture-add {
    width: 60% !important;
  }
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  .content {
    /* It is split into 3 columns */
    -webkit-column-count: 4 !important;
            column-count: 4 !important;
  }
  .picture-add {
    width: 70% !important;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .content {
    /* It is split into 3 columns */
    -webkit-column-count: 3 !important;
            column-count: 3 !important;
  }
  .picture-add {
    width: 80% !important;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .content {
    -webkit-column-count: 3 !important;
            column-count: 3 !important;
  }
  .picture-add {
    width: 80% !important;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .content {
    -webkit-column-count: 3 !important;
            column-count: 3 !important;
  }
  .picture-add {
    width: 80% !important;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .content {
    /* It is split into 3 columns */
    -webkit-column-count: 2 !important;
            column-count: 2 !important;
    padding: 6px !important;
  }
  .picture-add {
    width: 80% !important;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  nav {
    width: 100% !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    bottom: 0 !important;
    height: 4% !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    flex-direction: row !important;
    -ms-flex-line-pack: center !important;
        align-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    padding: 1.2em !important;
  }
  nav a {
    padding: 0 !important;
  }
  .container {
    width: 100% !important;
  }
  .container .content {
    /* It is split into 3 columns */
    -webkit-column-count: 2 !important;
            column-count: 2 !important;
    padding: 6px !important;
  }
  .container .picture-add {
    width: 80% !important;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  nav {
    width: 100% !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    bottom: 0 !important;
    height: 4% !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    flex-direction: row !important;
    -ms-flex-line-pack: center !important;
        align-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    padding: 1.2em !important;
  }
  nav a {
    padding: 0 !important;
  }
  .container {
    width: 100% !important;
  }
  .content {
    /* It is split into 3 columns */
    -webkit-column-count: 1 !important;
            column-count: 1 !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .content .card {
    margin: 5px 0px !important;
  }
}

@media (min-width: 0px) and (max-width: 320px) {
  nav {
    width: 100% !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    bottom: 0 !important;
    height: 4% !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    flex-direction: row !important;
    -ms-flex-line-pack: center !important;
        align-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    padding: 1.2em !important;
  }
  nav a {
    padding: 0 !important;
  }
  .container {
    width: 100% !important;
  }
  .content {
    /* It is split into 3 columns */
    -webkit-column-count: 1 !important;
            column-count: 1 !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .content .card {
    margin: 5px 0px !important;
  }
}
/*# sourceMappingURL=main.css.map */